.loadding .modal-content{
  background: rgb(0, 0,0, 0);
  border: 0;
}

.lds-dual-ring {
  display: inline-block;
  width: 200px;
  height: 200px;
}


.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 150px;
  height: 150px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
}

@media(max-width:767px){
  .lds-dual-ring {
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    width: 80px;
    height: 80px;
  }
}


@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}



